@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color1: #4a6d8c;
    --color2: #153959;
    --color3: #6789a9;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: var(--color1);
    color: var(--text);
}

.banner {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.banner img {
    width: 75px;
}

.banner span {
    font-size: 3rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-box input,
.input-box select {
    padding: 0.5rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    border: var(--text) 3px solid;
    transition: border 200ms;
}

.input-box input:focus,
.input-box select:focus {
    border: var(--color2) 3px solid;
}

button {
    font-size: 1rem;
    background: var(--color2);
    color: var(--text);
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

button:active {
    filter: brightness(90%);
}

.form {
    margin: 2rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

span.bold {
    font-weight: bold;
}

.spacing {
    letter-spacing: 0.5rem;
}

/* Register TOTP Component */
.register-totp .box {
    display: flex;
    justify-content: center;
    height: 12rem;
}

.register-totp .box .text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;
    user-select: none;
}

.qrcode-totp {
    height: 100%;
}

.hide {
    background: #2c2c2c;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.message {
    background: var(--color3);
    padding: 1rem 2rem;
    border-radius: 15px;
}

iframe {
    width: 100%;
    height: calc(100% - 50px - 1rem);
}

.btn-edit-sheet {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 5;
    background: var(--color1);
    padding: 1rem 2rem;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}

.btn-edit-sheet:hover {
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.logo-sheets {
    width: 500px;
    height: 50px;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo-sheets img{
    height: 100%;
}

.sheets-view {
    height: 100vh;
}

.flex {
    display: flex;
    gap: 32px;
}

.flex div {
    width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin-bottom: 16px;
}